doctype html
html(lang='en')
  head
    title Events
    script(type='text/javascript', src='/usr/lib/js/zepto/min.js')
    script(type='text/javascript', src='/usr/lib/js/lodash/modern.min.js')
    script(type='text/javascript', src='/var/www/events/js/ouical.min.js')
    script(type='text/javascript', src='/var/www/events/js/app.js')

    if focus
      script(type='text/javascript').
        $(function() {
          $(".event.focus .show-summary").click();
        });

    link(rel='stylesheet', type='text/css', href='/var/www/events/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='/var/www/events/css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

  body
    aside#details
      h3 Summary
      pre.
        All about the event
      address
    main
      table
        thead
          tr
            th.
              Date
            th.
              Event
            th.
              Details
            th.
              RSVPs
            th.
              Actions
            th.
              Export to&hellip;
        tbody
          each event in events
            tr(class=event.id == focus ? ["event", "focus"] : ["event"])
              td
                a(name="event-" + event.id)
                small
                  code
                    abbr(title="Duration: " + (event.duration ? event.duration/60.0 + " minutes" : "unknown")).utc= event.timestamp
                    - var hours = parseInt(event.duration / 3600)
                    if hours
                      span &nbsp;
                    while hours--
                      span &#8987;
              td
                a(href="#", class="show-summary", data-address=event.address, data-details=event.details, data-name=event.name)
                  | #{event.name}
                unless event.public
                  | &nbsp;
                  abbr(title="Members-only") &#128274;
              td(class="summary").
                #{event.summary}
              td.
                #{event.rsvp.length} / #{event.capacity}
              td
                button.rsvp(data-eid=event.id, data-user=user)
                  strong
                    if event.rsvp.indexOf("user:" + user) == -1
                      | RSVP
                    else
                      | Undo RSVP
                button.link(data-eid=event.id) Link
              td
                button.add(data-event=event) Add to Calendar
