doctype html
html(lang='en')
  head
    title Events
    script(type='text/javascript', src='/usr/lib/js/zepto/min.js')
    script(type='text/javascript', src='/usr/lib/js/lodash/modern.min.js')
    script(type='text/javascript', src='/var/www/events/js/app.js')

    link(rel='stylesheet', type='text/css', href='/var/www/events/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='/var/www/events/css/style.css')

  body
    main
      table
        thead
          tr
            th.
              Date
            th.
              Event
            th.
              Details
            th.
              Public
            th.
              Guests
            th.
              Actions
        tbody
          each event in events
            tr.event
              td.
                #{(new Date(event.timestamp)).toLocaleString()}
              td.
                #{event.name}
              td
                a(href="#", class="show-summary", data-details=event.details, data-name=event.name).
                  #{event.summary}
              td
                if event.public
                  span.public(title="Yes") &#10004;
                else
                  span.private(title="No") &#10007;
              td.
                #{event.rsvp.length} / #{event.capacity}
              td
                button.rsvp(data-eid=event.id, data-user=user)
                  if event.rsvp.indexOf("user:" + user) == -1
                    | RSVP
                  else
                    | Undo RSVP
                button Share
                button Export
    aside#details
      h3 Details
      pre.
        All about the event
