| Subject: 
if announce.subject
  | #{announce.subject}
else
  | (No Subject)
| 

table(border="1px", cellpadding="8px")
  tr
    td 
      strong From
    td 
      a(href="http://h9n.org/#/home/#{announce.user}") #{announce.user}
  tr
    td 
      strong Topics
    td
      each topic in announce.topics
        span(style="background: #ddd; margin: 10px 2px; padding: 2px")  #{topic} 
  tr
    td
      strong Review
    td
      ul(style="padding: 0px;")
        li
          a(href="http://h9n.org#{uri}/index.cgi?token=#{good}") Email was okay
        li
          a(href="http://h9n.org#{uri}/index.cgi?token=#{bad}") Email was annoying

h3 Hacker Union User Announcement:

| !{announce.text}

br
br
hr

em Sent using the 
  a(href="http://h9n.org#{uri}") Announce Tool
