doctype html
html(lang='en')
  head
    title Announce
    script(type='text/javascript', src='/usr/lib/js/zepto/min.js')
    script(type='text/javascript', src='/usr/lib/js/lodash/modern.min.js')
    script(type='text/javascript', src='#{uri}/js/app.js')

    link(rel='stylesheet', type='text/css', href='#{uri}/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='#{uri}/css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

  body
    if message
      aside #{message}

    if authorized
      h1 Announce
      h2 A Reputation-Based Email Megaphone
      hr
      em
        | Moderating access to 
        strong #{total} 
        | Hacker Union members
      hr
      
      table
        tr
          td
            pre.
              README
      
              - Subscribe to #topics that interest you
              - Receive on-topic announcements
              - Downvote bad posts, upvote good posts
              - Reputation &rarr; # of people you can reach
              - Good posts will be re-broadcast to more people

      hr

      h3 Menu

      ol
        li
          a(href="#announce") Send Announcement 
        li
          a(href="#topics") Your Subscriptions
        li
          a(href="#reputation") Your Reputation

      hr

      a(name="announce")
        h3 Send Announcement
      
      form(method="post")
        input(type="hidden", name="task", value="announce")
        table
          tbody
            tr
              th(scope="row")
                label Topics
              td 
                input(type="text", name="topics", value=compose.topics)
            
            tr
              th(scope="row")
                label Subject
              td 
                input(type="text", name="subject", value=compose.subject)
            
            tr
              th(scope="row")
                label Message
              td
                textarea(name="message", rows=20, cols=100) #{compose.message}
        
            tr
              th
              td
                input(type="submit", id="send-email", value="Send Email")

      hr
    
      a(name="topics")
        h3 Your Subscriptions

      table
        thead
          tr
            th List Topics (One Per Line)
            th Official Topics
        tbody
          tr
            td
              form(method="post")
                input(type="hidden", name="task", value="save_topics")
                table
                  tbody
                    tr
                      td
                        textarea(name="topics", rows=20, cols=40) !{topics}
                    tr
                      td
                        input(type="submit")

            td(align="center")
              pre.
                #programming
                #design
                #culture
                #community
                #hackathons
                #freefood
                #random

      hr
      
      a(name="reputation")
        h3 Your Reputation

        table
          thead
            tr
              th Good
              th Bad
              th Ignore
              th Total
              th Reputation (Grade)

          tbody
            tr
              td #{profile.reputation.good} 
              td #{profile.reputation.bad}
              td #{profile.reputation.total - profile.reputation.good - profile.reputation.bad}
              td #{profile.reputation.total}
              td
                strong #{grade}

    else
      pre.
        This tool allows community members to make announcements and to start discussions.
        A simple reputation system is used to avoid spam.
