doctype html
html(lang='en')
  head
    title Hacker Union
    script(type='text/javascript', src='/usr/lib/js/klass/min.js')
    script(type='text/javascript', src='/usr/lib/js/zepto/min.js')
    script(type='text/javascript', src='/usr/lib/js/async/dev.js')
    script(type='text/javascript', src='/usr/lib/js/lodash/modern.min.js')
    script(type='text/javascript', src='/var/www/shell/js/kernel.js')
    script(type='text/javascript', src='/var/www/shell/js/app.js')
    script(type='text/javascript').
      boot('/srv', '#{home}');

    link(rel='stylesheet', type='text/css', href='/var/www/shell/css/style.css')
  body
    .container
      main
        nav
          .title-wrapper
            .title
              a(href='#{home}')
                img(src='/var/www/shell/img/hu.svg').logo
              .name
                | hacker_union/
              .secondary
                | established MMIX

          .list-wrapper
            .list
              ul
                li
                  h3#message
              ul#dir
          
        .content-wrapper
          .content#content
          .content#shell
            if shell
              iframe.exec(src="#{shell}")
            else
              pre.exec
                h1 Web-based terminal disabled 
                h3 Connect manually via ssh:
                input(type="text", size="100", value="ssh://#{username}@#{ssh}")
      footer
        .left
          a(href="")
            | Join your local meeting
        .right
         | Logged in as 
         b #{username} 
         | (#[a(href="/sbin/logout") sudo]) | 
         a(href="#")#shell-btn
           | +term

      #templates
        li.folder
          .icon
            img(src='/var/www/shell/img/folder.svg')
          a(href='#') /

        li.file
          .icon
            img(src='/var/www/shell/img/file.svg')
          a(href='#') /
