doctype html
html(lang='en')
  head
    title Hacker Union
    script(type='text/javascript', src='/usr/lib/js/klass/min.js')
    script(type='text/javascript', src='/usr/lib/js/zepto/min.js')
    script(type='text/javascript', src='/usr/lib/js/async/dev.js')
    script(type='text/javascript', src='/usr/lib/js/lodash/modern.min.js')
    script(type='text/javascript', src='/var/www/shell/js/kernel.js')
    script(type='text/javascript', src='/var/www/shell/js/app.js')
    script(type='text/javascript').
      var cache = {};
      
      try {
        cache = !{cache.trim()};
      } catch (e) {
        // nop
      }

      boot('/srv', '#{home}', cache);

    link(rel='stylesheet', type='text/css', href='/var/www/shell/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='/var/www/shell/css/style.css')

    if noui
      link(rel='stylesheet', type='text/css', href='/var/www/shell/css/noui.css')

    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css')

    meta(name="viewport", content="width=device-width, initial-scale=1")
 
  body
    .container
      main
        nav
          .title-wrapper
            .title
              a(href='#{home}')
                img(src='/var/www/shell/img/hu.svg').logo
              .name
                | hacker_union/
              .secondary
                | established MMIX

          .list-wrapper
            .list
              ul
                li
                  h3#message
              ul#dir
          
        .content-wrapper
          header
            .left
              a(href="#/home/guest/")
                | help
            .right
             | logged in as 
             b #{username} 
             | (#[a(href="/sbin/logout") sudo]) | 
             a(href="#")#shell-btn
               | +term

          .content.seamless#shell
            if shell
              iframe.exec(src="#{shell}")
            else
              pre.exec
                h1 Web-based terminal disabled 
                h3 Connect manually via ssh:
                input(type="text", size="100", value="ssh://#{username}@#{ssh}")

          .frame
          .content#content
        
        br.clear

      #templates
        li.folder
          .icon
            img(src='/var/www/shell/img/folder.svg')
          a(href='#') /

        li.file
          .icon
            img(src='/var/www/shell/img/file.svg')
          a(href='#') /


    .github-fork-ribbon-wrapper.right-bottom
      .github-fork-ribbon
        a(href='https://github.com/hackerunion/root') Fork me on GitHub

